#st-button {
    bottom: 25px;
    left: 400px;
}

#aoe-button {
    bottom: 25px;
    right: 400px;
}

.button {
    width: 150px;
    border: 1px solid black;
}

.button--active {
    background: lawngreen;
}

.button:hover {
    cursor: pointer;
}

.button--hidden {
    opacity: 0;
}

.button,
.skill {
    position: absolute;
    color: white;
    font-size: 50px;
    font-family: Verdana, sans-serif;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
    z-index: 1;
}

.skill {
    pointer-events: none;
}

.skill--small {
    font-size: 40px;
    z-index: 0;
}

.skill--1 {
    top: 320px;
    left: 628px;
}

.skill--2 {
    top: 370px;
    left: 700px;
}

.skill--3 {
    top: 440px;
    left: 725px;
}

.skill--4 {
    top: 370px;
    left: 555px;
}

.skill--5 {
    top: 440px;
    left: 530px;
}

.skill--6 {
    top: 510px;
    left: 555px;
}

.skill--7 {
    top: 510px;
    left: 700px;
}

.skill--a1 {
    top: 335px;
    left: 643px;
}

.skill--a2 {
    top: 385px;
    left: 715px;
}

.skill--a3 {
    top: 455px;
    left: 740px;
}

.skill--a4 {
    top: 385px;
    left: 570px;
}

.skill--a5 {
    top: 455px;
    left: 545px;
}

.skill--a6 {
    top: 525px;
    left: 570px;
}

.skill--a7 {
    top: 525px;
    left: 715px;
}

.skill--s1 {
    top: 315px;
    left: 598px;
}

.skill--s2 {
    top: 365px;
    left: 670px;
}

.skill--s3 {
    top: 435px;
    left: 695px;
}

.skill--s4 {
    top: 365px;
    left: 525px;
}

.skill--s5 {
    top: 435px;
    left: 500px;
}

.skill--s6 {
    top: 505px;
    left: 525px;
}

.skill--s7 {
    top: 505px;
    left: 670px;
}

#canvas {
    top: 315px;
    left: 490px;
    position: absolute
}
